
.dishcard{
    margin: 18px;
     width:350px;
     height: 350px;
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     flex-direction: column;
     border: 1px solid red;
 
 }
 .dishcard img{
 width: 250px;
 height: 250px;
 }
 .dishcard:hover{
     border: 1px solid black;
 }