.header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
   border:1px solid grey;
}
.header img{
    height: 100px;
    width: 100px;
}
.header ul{
display: flex;
flex-direction: row;
align-items: center;
font-size:30;
justify-content: space-evenly;
min-width: 600px;
 list-style-type: none
}
